@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.head {
  background: #0009d8;
  color: #ebebeb;
  height: 5.9rem;
}
.title {
  border-bottom: 10px;
}
.logo {
  height: 100px;
  width: 100px;
}
.body {
  background: #c8c8d0;
}
.score {
  color: #5900ff;
  box-shadow: 0px 1px 50px grey;
  min-width: 100%;
}
.submit {
  background: #5900ff;
  color: white;
  border-radius: 1rem;
  min-width: 12rem;
  min-height: 5rem;
  font-size: 3vh;
  cursor: pointer;
}
.quiz {
  background: #e4e1eb;
  height: 90vh;
}
.opt {
  background: #5900ff;
  color: white;
  border-radius: 15px;
}
